# Author: Mauro Risonho de Paula Assumpção
# Date Created: Not recorded
# Date Updated: 2026-10-03
# Short Description: Environment variable template for the Discord bot.
# Development Method: Human mental calculations and paper-and-pencil work, assisted by GitHub Copilot and Claude available at the time of the event.
# License: MIT

# Official Discord bot token
DISCORD_BOT_TOKEN=<insert-discord-bot-token-here>
